*{
    margin: 0px;
    padding:0;
    box-sizing: border-box;
    
}
    


/*-------- HEADER-------*/

.cabezera{
    display: flex;
    justify-content: space-between;
    margin:0px;
    height: 70px;
    align-items: center;
    position: sticky;
}
.cabezera a{
    text-decoration: none;
}

.cabezera h1{
    color: rgb(255, 255, 255);
    background-image: url(../img/dony.png);
    background-position: center;
    background-size: 300px;
    text-align: center;
    font-size: 28px;
    width: 160px;
    height: 77px;
    display: flex;
    align-items: center;
}
.titulo{
    display: flex;
    align-items: center;
    align-self: center;
    width: 104px;
    height: auto;
}

.navegador ul{
    display: flex;
    flex-direction: row;
    
 }

 .navegador a{
    text-decoration: none;
    margin: 0px;
    padding: 10px;

 }

 .navegador a b{
    color: rgb(66, 15, 62);
    align-items: center;
 }
 /*-------- HEADER MQ-------*/
@media screen and (max-width:375px){
     .cabezera{
        flex-direction: column;
        width: 100%;
        height: 260px;
        text-align: center;
    }
    .cabezera h1{
        width: 190px;
        margin-bottom: 10px;
        height: 42px;
        font-size: 28px;align-items: center;
        text-align: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .titulo{
        background-image: url(../img/dony.png);
        width: 100%;
        display: flex;
        justify-content: center;
        align-self: center;
    }
    .navegador{
        width: 100%;
        height: 100%;
        text-align: center;

    }
    .navegador a{
        background-color: darkgray;
        background-position: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .navegador nav{
        display: flex;
        flex-direction: column;
    }
    .navegador a b{
        color: rgb(66, 17, 66);
    }
    .temporadaTitulo {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10;
        width: 100%;
    }

    .contendor .contenedorFooter{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .contenedorFooterPago {
        text-align: center;
    }
    .contenedorFooterRedSocial{
        
        text-align: center;
    }
    .contenedorFooterRedSocial a img{
        display: flex;
        align-items: center;
    }
    .contenedorFooterRedSocial a {
        display: flex;
        justify-content: center;
    }
    .contenedorFooterDireccion{
        text-align: center;
        padding: 15px;
    }
    .contenedorFooterTerminos a{
        display: flex;
        justify-content: center;
    }
}
 
@media screen and (max-width:480px)  {
    .cabezera{
        flex-direction: column;
        width: 100%;
        height: 260px;
        text-align: center;
    }
    .cabezera h1{
        width: 190px;
        margin-bottom: 10px;
        height: 42px;
        font-size: 28px;align-items: center;
        text-align: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .titulo{
        background-image: url(../img/dony.png);
        width: 100%;
        display: flex;
        justify-content: center;
        align-self: center;
    }
    .navegador{
        width: 100%;
        height: 100%;
        text-align: center;

    }
    .navegador a{
        background-color: darkgray;
        background-position: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .navegador nav{
        display: flex;
        flex-direction: column;
    }
    .navegador a b{
        color: rgb(66, 17, 66);
    }
    .temporadaTitulo {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 150px;
    }
    
    .contendor .contenedorFooter{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .contenedorFooterPago {
        text-align: center;
    }
    .contenedorFooterRedSocial{
        
        text-align: center;
    }
    .contenedorFooterRedSocial a img{
        display: flex;
        align-items: center;
    }
    .contenedorFooterRedSocial a {
        display: flex;
        justify-content: center;
    }
    .contenedorFooterDireccion{
        text-align: center;
        padding: 15px;
    }
    .contenedorFooterTerminos a{
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width:768px){
    .cabezera{
        display: flex;
        flex-direction: column;
        height: 115px;
        margin: 0px;
    }
    .navegador nav{
        text-align: center;
        background-size: 100%;
        min-width: auto;
    }
    .titulo{
        background-image: url(../img/dony.png);
        width: 100%;
        display: flex;
        justify-content: center;
        align-self: center;
        background-position: center;
    }
    .navegador{
        background-color: darkgray;
        width: 100%;
        height: 100%;
    }
    .navegador a{
        font-size: 15px;
    }
}










.temporadaVerano {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: wrap ;
    justify-content: space-around;
}
.temporadaVerano a{
    display: flex;
    margin: 12px;
    border:  1px solid black;
    text-decoration: none;
    padding: 5px;
    text-align: center;
    justify-content: center;
    text-align: center;
    background-color: rgb(172, 73, 158);
    color: rgb(255, 255, 255);
    
}

.temporadaTitulo {
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.541);
    color: rgb(50, 33, 77);
    padding: 10px;
}
.temporadaTitulo h2{
    width: 100%;
}
.temporadaVerano h3{
    font-size: 16px;
}
.temporadaVerano img{
    width: 298px;
    height: 300px;
}
.temporadaVerano div{
    margin: 12px;
    width: 300px;
    box-shadow: 10px 10px 36px -7px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 36px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 36px -7px rgba(0,0,0,0.75);  
    
}

.temporadaVeranoComprar{
    border:1px solid black ;
    display: inline-block;

}
.temporadaVerano h3{
    text-align: center;
    color: rgb(0, 0, 0);
}


.liquidacion{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: wrap ;
    justify-content: space-around;
}

.liquidacionTitulo {
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: rgba(3, 3, 3, 0.541);
    color: rgb(50, 33, 77);
    padding: 10px;
}
.liquidacion h3{
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 16px;
}
.liquidacion img{
    width: 298px;
    height: 300px;
    display: flex;
}
.liquidacion a{
    display: flex;
    margin: 12px;
    border:  1px solid black;
    text-decoration: none;
    color: white;
    background-color: rgba(134, 98, 98, 0.014);
    padding: 5px;
    text-align: center;
    justify-content: center;
    
}
.liquidacion div{
    display: inline-block;
    margin: 12px;
    border: 1px solid black;
    box-shadow: 10px 10px 36px -7px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 36px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 36px -7px rgba(0,0,0,0.75);
    
}

.liquidacion .liquidacionComprar a{
    background-color: rgb(172, 73, 158);
    color: rgb(255, 255, 255);
}
.liquidacion .liquidacionComprar{
    border: 1px solid black;
}
.tePuedeGustar {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: wrap ;
    justify-content: space-around;
}
.tePuedeGustar div{
    display: inline-block;
    margin: 12px;
    border: 1px solid black;
    box-shadow: 10px 10px 36px -7px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 36px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 36px -7px rgba(0,0,0,0.75);
}
.tePuedeGustar div img{
    width: 298px;
    height: 300px;
}

.tePuedeGustar div a{
    background-color: rgb(172, 73, 158);
    color: rgb(255, 255, 255);
    
}

.tePuedeGustar a{
    display: flex;
    margin: 12px;
    color: white;
    padding: 5px;
    text-align: center;
    justify-content: center;
    text-align: center;
    text-decoration: none
    
    ;
}
.tePuedeGustarTitulo {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.541);
    color: rgb(50, 33, 77);
    padding: 10px;
    
}

.tePuedeGustar h3{
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 16px;
}


.sobreNosotros{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 500px 500px ;
}

.ubicacion iframe{
    width: 100%;
    padding: 20px;
}

.nosotros p{
    padding: 20px;
    text-align: center;
    
    
}

.nosotros h3{
    text-align: center;
    color: rgb(50, 33, 77);
    font-size: 22px;
    margin: 20px;
}

.nosotrosTienda{
    padding: 20px;
}

.ubicacion{
    
    grid-column: 1/3;
}

.ubicacion h3{
    text-align: left;
    font-size: 22px;
    margin: 20px;
    color: rgb(50, 33, 77);
}

/*------------------ FOOTER-----------------*/

footer{
    background-color: #23262b;
    display: flex;
    flex-direction: column;

}

.pagoimg img{
    width: 170px;
    padding: 10px;
}
.contenedorFooterRedSocial img{
    width: 50px;
    height: 50px;
    
}
.contenedorFooterRedSocial .redSocial a{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 3px;

}
.contenedorFooter{
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

.contenedorFooter h4{
    font-size: 18px;
    color: white;
    text-decoration: none;
}
.contenedorFooter a{
    text-decoration: none;
    color: white;
    display: flex;
}

.contenedorFooter h5{
    font-size: 14px;
    color: white;
}

